.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 268px;
  align-items: center;
  justify-content: center;
}
.card img {
  align-self: center;
}

.descrItem {
  display: flex;
  text-align: center;
  align-items: center;
}
.descrItem svg {
  width: 24px;
  height: 24px;
}
