.scroll {
  max-height: calc(100vh - 545px);
  min-height: calc(100vh - 545px);
  overflow: auto;
  position: relative;
  
}

.scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #2f2f37;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #8585ad;
  border-color: transparent;
  height: 292px;
}
.scroll::-webkit-scrollbar-thumb:hover {
  background-color: #aaaadc;
}

.order {
  display: flex;
  justify-content: right;
  align-items: center;
}
.order svg {
  width: 54px;
  height: 54px;
}

.compound {
  display: flex;
  align-items: center; 
  
}

.dragDropIcon{
  /* transform: translateY(-50%); */
}